body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainWrapper{
  border: 2px solid orange;
  border-radius: 20px;
  height: max-content;
  width: 500px;
  padding: 5%;
}